
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> - Translink Next Bus Bot</title>
    <meta name="description" content="A cool thing made with Gomix">
    <link id="favicon" rel="icon" href="https://gomix.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>

<div class="menus">
  
  
  <a href="/"> Home</a> | <a href="/privacy-policy"> Privacy Policy</a> | <a href="https://www.messenger.com/t/363947300659077" target="_blank"> Message us</a> |
  
    </div>