<% include header.ejs %>

    <h1>
      Bot for facebook messenger that gets <a href="http://www.translink.ca/" target="_blank">Translink </a> Bus Stop data. <br>
    </h1>
      Check us out <a href="https://www.facebook.com/Translink-Bot-363947300659077/?ref=bookmarks" target="_blank"> here</a> <br />
      Message us <a href="https://www.messenger.com/t/363947300659077" target="_blank"> here.</a> <br />
      Privacy Policy <a href="/privacy-policy"> here. </a>
      Not affiliated with Translink.


    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>
<% include footer.ejs %>