<!DOCTYPE html>
<html>
  <head>
    <title>Privacy Policy</title>
    <meta name="description" content="Privacy Policy for the Facebook Messenger bot, Colorful Bot.">
    <link id="favicon" rel="icon" href="https://gomix.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>

    <h1> Privacy Policy for Colorful Bot </h1>
      <p>
         
    We refers to us, the Colorful Bot Facebook Messenger bot.   Message us <a href="https://www.messenger.com/t/kaichenblog"> here.</a> <br />
   We do not collect any personal infomation. We do not store any personal info. No messages you send are stored. No data you send is stored. We do not use any external database or other alike data storing services to store any of your info. <br />
    </p>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
